---
import Link from "./Link.astro";

type Project = {
  name: string;
  description: string;
  stack: Array<String>;
  url: string;
};

interface Props {
  project: Project;
}

const { project } = Astro.props;

const { name, description, stack, url } = project;
---

<li class="flex flex-col md:flex-row h-full w-full gap-5">
  <img
    src="/placeholder.webp"
    alt={name}
    class="md:w-[240px] w-full object-cover h-[220px] rounded"
  />

  <div class="flex flex-col">
    <div class="h-full">
      <h4 class="text-3xl font-bold">{name}</h4>

      <div class="my-2">
        <ul class="flex gap-3 items-center flex-wrap">
          {
            stack.map((aTech) => (
              <li class="bg-white rounded-sm text-[var(--gray)] px-2 pb-2.5 pt-3 leading-0 text-xs">
                {aTech}
              </li>
            ))
          }
        </ul>

        <p class="mt-2">
          {description}
        </p>
      </div>
    </div>
    <div>
      <Link
        variant="blue"
        href={url}
        className="flex w-fit text-sm gap-1 items-center"
      >
        <img src="/link.png" alt="Enlace de proyecto" />
        Link
      </Link>
    </div>
  </div>
</li>
